// Card
.block_wrapper {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  border: 1px dashed green;
  padding: 15px;
  border-radius: 5px;

  &.currentBlock {
    border: 1px dashed green;
    padding: 10px;
    border-radius: 5px;

    input[type="number"] {
      width: 100px;
      padding: 5px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: right;
      font-size: 16px;
    }
  }

  .Card__title {
    font-size: 20px;
  }

  .Card__show_value {
    font-size: 25px;
  }


}